
<div class="ccr-heading">
  <a mat-button color="primary" class="ccr-button" routerLink="/accounts/patients">
    {{'BOARD.BACK_LIST' | translate}}
  </a>

  <div class="ccr-name" fxLayout="row" fxLayoutAlign.xs="center">
    <ccr-avatar size="bigger" [account]="dieter?.id"></ccr-avatar>
    <h2>{{ dieter?.firstName | capitalize }} {{ dieter?.lastName | capitalize }}</h2>
  </div>
</div>

<div class="ccr-tabs" fxLayout="row" fxLayoutAlign=" stretch" fxLayoutGap="5px">
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [routerLink]="['dashboard']">{{'GLOBAL.DASHBOARD' | translate}}</a>
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [routerLink]="['journal']">{{'GLOBAL.JOURNAL' | translate}}</a>
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [routerLink]="['measurements']">{{'GLOBAL.MEASUREMENTS' | translate}}</a>
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [routerLink]="['messages']">{{'GLOBAL.MESSAGES' | translate}}</a>
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [routerLink]="['profile']">{{'GLOBAL.PROFILE' | translate}}</a>
</div>

<div class="ccr-subcomponent">
  <router-outlet></router-outlet>
</div>
