<div class="menu-bar">
  <div class="hamburger" (click)="toggleSidenav($event)">
    <div class="slice"></div>
    <div class="slice"></div>
    <div class="slice"></div>
  </div>

  <app-search></app-search>

  <div class="mobile-logo">
    <img class="logo" src="./assets/logo.png">
  </div>

  <div class="right-controls">
    <button mat-button class="user-controls" [matMenuTriggerFor]="menu">
      <span>{{ translations['MENU.HELLO'] | capitalize }}</span>
      <span class="acc-icon">
        <ccr-icon-user [fill]="palette.contrast" size="40"></ccr-icon-user>
      </span>
      <i class="material-icons"></i>
    </button>
    <mat-menu #menu="matMenu" class="user-controls" [overlapTrigger]="false" xPosition="before">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        <span>{{'GLOBAL.PROFILE' | translate}}</span>
      </button>
      <button mat-menu-item (click)="setLanguage('en')" *ngIf="selectedLanguage == 'es'">
        <mat-icon>language</mat-icon>
        <span>English</span>
      </button>
      <button mat-menu-item (click)="setLanguage('es')" *ngIf="selectedLanguage == 'en'">
        <mat-icon>language</mat-icon>
        <span>Español</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{'MENU.LOGOUT' | translate}}</span>
      </button>
    </mat-menu>
    <div class="notification-icon" (click)="toggleRightPanel($event)" [class.invisible]="!rightPanelEnabled">
      <mat-icon>notifications_none</mat-icon>
    </div>
  </div>
</div>
