<ng-container [formGroup]="form">
  <div class="ccr-panel">
    <h3>
      <mat-icon>person</mat-icon> {{'GLOBAL.PROFILE' | translate}}
    </h3>

    <mat-grid-list class="ccr-grid" [cols]="colSpan" rowHeight="70px">

      <mat-grid-tile>
        <mat-form-field>
          <input matInput required formControlName="firstName" [placeholder]="'BOARD.FIRST_NAME' | translate">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput required formControlName="lastName" [placeholder]="'BOARD.LAST_NAME' | translate">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput required email formControlName="email" [placeholder]="'BOARD.EMAIL' | translate">
        </mat-form-field>
      </mat-grid-tile>

      <!-- <mat-grid-tile>
        <mat-form-field>
          <input matInput formControlName="clientPhone" placeholder="{{'BOARD.PHONE' | translate}} ({{'BOARD.OPTIONAL' | translate}})">
        </mat-form-field>
      </mat-grid-tile> -->

      <mat-grid-tile>
        <mat-form-field>
          <mat-select formControlName="timezone" [placeholder]="'BOARD.TIME_ZONE' | translate">
            <mat-option *ngFor="let timezone of timezones" [value]="timezone.code">
              {{ timezone.lang[lang] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <h3>
    <mat-icon>assignment</mat-icon> {{'GLOBAL.PERMISSIONS' | translate}}

    <span matSubheader *ngIf="isOwnProfile">{{'BOARD.HINT_COACH_OWNPERMISSIONS' | translate}}</span>
    <span matSubheader *ngIf="!isOwnProfile">{{'BOARD.HINT_COACH_PERMISSIONS' | translate}}</span>
  </h3>

  <app-clinics-table-picker required formControlName="clinics" [disabled]="isOwnProfile"
    [source]="source"
    [coachId]="coachId"
  ></app-clinics-table-picker>
</ng-container>
