<div class="ccr-table" [class.ccr-loading]="isLoading || source.isLoading" [class.ccr-empty]="source.isEmpty" [class.ccr-errors]="source.hasErrors()">

  <mat-progress-bar color="primary" mode="indeterminate" [hidden]="!isLoading && !source.isLoading"></mat-progress-bar>

  <mat-table #table [dataSource]="source" *ngIf="!isLoading">

    <ng-container cdkColumnDef="actions">
      <mat-header-cell *cdkHeaderCellDef> {{'BOARD.PICK' | translate}} </mat-header-cell>
      <mat-cell *cdkCellDef="let row; let i = index" fxLayoutAlign="center center">
        <span>
          <button mat-icon-button type="button" title="{{'BOARD.SELECT' | translate}}" (click)="onSelect(i)">
            <mat-icon [ngClass]="{'ccr-picked': data[i] && data[i].picked}">check_circle</mat-icon>
          </button>
        </span>
        <button mat-icon-button type="button" title="{{'BOARD.SELECT' | translate}}" (click)="onSelect(i)">
          <mat-icon [ngClass]="{'ccr-picked': data[i] && data[i].picked}">check_circle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef> {{'BOARD.CLINIC' | translate}} </mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign="start center">
        {{ row.organizationName }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="perm_viewall">
      <mat-header-cell *cdkHeaderCellDef fxFlex="15%" class="ccr-help" (click)="toggleHelp('help-accessall')">
        {{'PERM.ACCESSALL' | translate}} <mat-icon>help_outline</mat-icon>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let row; let i = index" class="ccr-help"
      fxLayoutAlign="center center" fxFlex="15%"
      fxLayoutAlign.xs="start center" fxFlex.xs="100%"
      fxFlexOffset.xs="12%" fxFlexOrder.xs="3"
      [class.invisible]="!data[i].picked">
        <mat-checkbox [(ngModel)]="data[i].accessall" name="accessall" (change)="onChange()">
          <span class="xs-label">{{'PERM.ACCESSALL' | translate}}</span>
        </mat-checkbox>
        <mat-icon fxHide fxShow.xs (click)="toggleHelp('help-accessall')">help_outline</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="perm_admin">
      <mat-header-cell *cdkHeaderCellDef fxFlex="15%" class="ccr-help" (click)="toggleHelp('help-admin')">
        {{'PERM.ADMIN' | translate}} <mat-icon>help_outline</mat-icon>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let row; let i = index" class="ccr-help"
      fxLayoutAlign="center center" fxFlex="15%"
      fxLayoutAlign.xs="start center" fxFlex.xs="100%"
      fxFlexOffset.xs="12%" fxFlexOrder.xs="4"
      [class.invisible]="!data[i].picked">
        <mat-checkbox [(ngModel)]="data[i].admin" name="admin" (change)="onChange()">
          <span class="xs-label">{{'PERM.ADMIN' | translate}}</span>
        </mat-checkbox>
        <mat-icon fxHide fxShow.xs (click)="toggleHelp('help-admin')">help_outline</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row fxLayoutAlign="stretch" *cdkHeaderRowDef="columns" fxHide.xs></mat-header-row>
    <mat-row fxLayout="row" fxLayoutWrap *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
      [ngClass]="{
        'row-even': even,
        'row-odd': odd
      }">
    </mat-row>
  </mat-table>

  <div class="ccr-table-help">
    <button mat-icon-button type="button" (click)="toggleHelp()"><mat-icon>cancel</mat-icon></button>

    <div class="help-accessall" [innerHTML]="'PERM.HELP_ACCESSALL' | translate"></div>
    <div class="help-admin" [innerHTML]="'PERM.HELP_ADMIN' | translate"></div>
  </div>

  <div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="isDisabled || source.hasErrors()">
    <div class="ccr-errors" *ngIf="source.hasErrors()">
      <span *ngFor="let error of source.getErrors()">{{error | translate}}</span>
    </div>
  </div>
</div>
