<ul>
  <li>
    &#9400;&nbsp;{{ currentYear }} {{ clinicName }}
  </li>
  <li>
    <a href="https://www.coachcare.com/terms/" target="_blank" rel="noopener noreferrer">{{ 'LAYOUT.TOS' | translate }}</a> |
    <a href="https://www.coachcare.com/privacy/" target="_blank" rel="noopener noreferrer">{{ 'LAYOUT.PRIVACY_POLICY' | translate }}</a> |
    <a href="https://www.coachcare.com/hipaa/" target="_blank" rel="noopener noreferrer">{{ 'LAYOUT.HIPAA' | translate }}</a> |
    <a href="https://www.coachcare.com/agreement/" target="_blank" rel="noopener noreferrer">{{ 'LAYOUT.MSA' | translate }}</a>
  </li>
  <li>
    <span translate [translateParams]="{company: 'CoachCare'}">LAYOUT.POWEREDBY</span>
  </li>
</ul>
