
<div class="ccr-heading">
  <div class="ccr-title" fxLayout="row" fxLayoutAlign="end">
    <h2 fxFlex>{{'SIDENAV.SCHEDULE_VIEW' | translate}}</h2>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap.xs="10px">
  <div fxFlex="0 1 auto" fxLayoutAlign="start" fxLayoutAlign.xs="center" class="calendar-options">
    <span class="meeting">{{'BOARD.CONSULTATIONS' | translate}}</span>
    <span class="available">{{'BOARD.AVAILABLE' | translate}}</span>
    <span class="unavailable">{{'BOARD.UNAVAILABLE' | translate}}</span>
    <!-- <mat-icon [matTooltip]="'BOARD.SCHEDULE_TOOLTIP' | translate">help</mat-icon> -->
  </div>

  <div fxFlex fxFlex.xs="1 1 100%" fxLayoutAlign="end" fxLayoutAlign.xs="center" fxLayoutAlign.sm="start" fxLayoutGap="7px">
    <ccr-select-user
      [title]="'BOARD.SELECT_SCHEDULE' | translate"
      [default]="'BOARD.MY_SCHEDULE' | translate"
    ></ccr-select-user>
    <div class="ccr-button-group">
      <button type="button" mat-button class="ccr-icon-button"
      (click)="timerange = 'day'" [class.active]="timerange === 'day'"
      [matTooltip]="'BOARD.DAILY_VIEW' | translate" matTooltipPosition="above">
        <mat-icon>view_day</mat-icon>
        {{'GLOBAL.DAY' | translate}}
      </button>
      <button type="button" mat-button class="ccr-icon-button"
      (click)="timerange = 'week'" [class.active]="timerange === 'week'"
      [matTooltip]="'BOARD.WEEKLY_VIEW' | translate" matTooltipPosition="above">
        <mat-icon>view_week</mat-icon>
        {{'GLOBAL.WEEK' | translate}}
      </button>
    </div>
  </div>
</div>

<date-navigator [timeframe]="timerange" [date]="dates.current" (selectedDate)="selectedDate($event)" [max]="false"></date-navigator>

<table class="calendar" [class.week]="timerange == 'week'">
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let date of days">{{ date }}</th>
    </tr>
  </thead>
  <tbody #tbody>
    <tr #trow *ngFor="let block of timeBlocks; let i = index;" [class.eight-am-row]="block.display === '8:00 AM'">
      <td>{{(i % 2 === 0) ? block.display : ''}}</td>
      <td *ngFor="let cell of block.cells" [class.available]="cell?.isAvailable">
        <div *ngIf="cell?.meeting" class="meeting"
        [class.meeting-selectable]="cell.meeting.selectable"
        [class.meeting-selected]="cell.meeting.id === selectedMeeting"
        [class.meeting-unavailable]="cell.meeting.type.id === 4"
        [style.height.px]="calculateHeight(cell.meeting)"
        [style.top.%]="calculateTop(cell.meeting)"
        (click)="cell.meeting.selectable ? selectMeeting(cell.meeting.id) : null">
          <div class="meeting-content">
            <div class="meeting-time">{{ cell.meeting.timeToDisplay }}</div>
            <div class="meeting-title">{{ cell.meeting.title | translate }}</div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
