<div fxLayout="column" *ngIf="!isLoading">
  <h3>
		<mat-icon>people outline</mat-icon>
    <span>{{'RIGHT_PANEL.FOR_THIS_PATIENT' | translate}}</span>
  </h3>

  <ng-container *ngIf="isScheduleEnabled">
    <h4 matSubheader>
      <mat-icon>event</mat-icon>
      <span>{{ 'BOARD.UPCOMING_SCHEDULE' | translate }}</span>
    </h4>

    <div class="items-none" *ngIf="dateSections.length === 0">
      <span>{{'RIGHT_PANEL.NO_MEETINGS' | translate}}</span>
    </div>

    <mat-list *ngIf="dateSections.length">
      <ng-container *ngFor="let section of dateSections; let lastDate = last;">
        <mat-list-item *ngFor="let meeting of section.meetings; let lastMeet = last">
          <div class="item reminder-item no-pointer" [class.last]="lastDate && lastMeet">
            <div class="item-heading">
              <mat-icon>stop</mat-icon>
              <span>{{ meeting.title }}</span>
            </div>
            <div class="item-body">
              <div>
                <mat-icon>access_time</mat-icon>
                <span>{{ section.date }}</span>
              </div>
              <div>
                <div>
                  {{ meeting.startTime | ccrUtc | amDateFormat:'h:mm a'}}
                  &nbsp;-&nbsp;
                  {{ meeting.endTime | ccrUtc | amDateFormat:'h:mm a'}}
                </div>
              </div>
            </div>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </ng-container>

  <h4 matSubheader>
    <mat-icon>event_note</mat-icon>
    <span>{{ 'BOARD.NOTES' | translate }}</span>
  </h4>

  <div class="items-none" *ngIf="notes.length === 0">
    <span>{{'RIGHT_PANEL.NO_NOTES' | translate}}</span>
  </div>

  <div class="items-create">
    <button mat-button type="button" color="primary" class="ccr-icon-button" (click)="showNoteDialog()">
      <mat-icon>add</mat-icon>
      {{'BOARD.ADD_NEW_NOTE' | translate}}
    </button>
  </div>

  <mat-list *ngIf="notes.length">
    <mat-list-item *ngFor="let note of notes">
      <app-rightpanel-note [note]="note"></app-rightpanel-note>
    </mat-list-item>
  </mat-list>
</div>

<div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
