
<div class="ccr-container-mini">
  <ul class="ccr-tabs-center" fxLayout="row" fxLayoutAlign="center stretch">
    <li><a mat-button [routerLink]="['.', {s: 'food'}]" [class.active]="section === 'food'">{{ 'GLOBAL.FOOD' | translate }}</a></li>
    <li><a mat-button [routerLink]="['.', {s: 'supplements'}]" [class.active]="section === 'supplements'">{{'GLOBAL.SUPPLEMENTS' | translate }}</a></li>
    <li><a mat-button [routerLink]="['.', {s: 'water'}]" [class.active]="section === 'water'">{{ 'GLOBAL.WATER' | translate }}</a></li>
  </ul>
</div>

<date-navigator [timeframe]="timeframe" [date]="dates.current" (selectedDate)="selectedDate($event)"></date-navigator>

<div class="ccr-dashboard-pane" [ngSwitch]="component">
  <ng-container *ngSwitchCase="'food'">

    <app-dieter-journal-food
      [dates]="dates"
    ></app-dieter-journal-food>

  </ng-container>
  <ng-container *ngSwitchCase="'supplements'">

    <app-dieter-journal-supplements
      [dates]="dates"
    ></app-dieter-journal-supplements>

  </ng-container>
  <ng-container *ngSwitchCase="'water'">

    <app-dieter-journal-hydration
      [dates]="dates"
      [dailyHydrationGoal]="goals.goal.dailyHydration"
    ></app-dieter-journal-hydration>

  </ng-container>
</div>
