@import 'variables';

:host {
  display: block;
  width: 100%;
}

path.progress-circle-path,
path.progress-circle-path-rest {
  fill: transparent;
  stroke-width: 4px;
}
path.progress-circle-path {
  stroke: mat-color($ccr-foreground, stroke);
}

path.progress-circle-path-rest {
  stroke: mat-color($ccr-primary);
}

text.regular-text {
  fill: mat-color($ccr-foreground, progress-circle);
  font-size: 9px;
  text-anchor: middle;
}

text.primary-text {
  fill: mat-color($ccr-primary);
  font-size: 28px;
  text-anchor: middle;
}
